mypdfhero.com {
  encode gzip zstd

  @api path /api/*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    reverse_proxy frontend:3000
  }

  tls hello@mypdfhero.com
}

www.mypdfhero.com {
  redir https://mypdfhero.com{uri}
}
