version: "3.9"

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 4000
      FRONTEND_ORIGIN: "https://mypdfhero.com"
    ports:
      - "4000:4000"
    networks:
      - web

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: "https://mypdfhero.com"
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - web

networks:
  web:
    driver: bridge
